<form [formGroup]="form" class="container my-5">
  <div class="mb-3">
    <label for="firstname" class="form-label">First name *</label>
    <input
      formControlName="firstName"
      type="text"
      class="form-control"
      id="firstname"
      aria-describedby="emailHelp"
      autocomplete="off"
    />
  </div>

  <div class="mb-3">
    <label for="lastname" class="form-label">Last name *</label>
    <input
      formControlName="lastName"
      type="email"
      class="form-control"
      id="lastname"
      aria-describedby="emailHelp"
      autocomplete="off"
    />
  </div>

  <div class="mb-3">
    <label for="age" class="form-label">Age *</label>
    <input
      formControlName="age"
      type="number"
      class="form-control"
      id="age"
      aria-describedby="emailHelp"
      autocomplete="off"
    />
  </div>

  <div class="text-end mb-3">
    <button class="btn btn-primary" (click)="resetAll()">Reset</button>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">touched</th>
        <th scope="col">untouched</th>
        <th scope="col">dirty</th>
        <th scope="col">pristine</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary">
        <th scope="row">Form</th>
        <td [class.text-danger]="form.touched">{{ form.touched }}</td>
        <td [class.text-danger]="form.untouched">{{ form.untouched }}</td>
        <td [class.text-danger]="form.dirty">{{ form.dirty }}</td>
        <td [class.text-danger]="form.pristine">{{ form.pristine }}</td>
      </tr>
      <tr>
        <th scope="row">FirstName</th>
        <td [class.text-danger]="firstName.touched">{{ firstName.touched }}</td>
        <td [class.text-danger]="firstName.untouched">{{ firstName.untouched }}</td>
        <td [class.text-danger]="firstName.dirty">{{ firstName.dirty }}</td>
        <td [class.text-danger]="firstName.pristine">{{ firstName.pristine }}</td>
      </tr>
      <tr>
        <th scope="row">LastName</th>
        <td [class.text-danger]="lastName.touched">{{ lastName.touched }}</td>
        <td [class.text-danger]="lastName.untouched">{{ lastName.untouched }}</td>
        <td [class.text-danger]="lastName.dirty">{{ lastName.dirty }}</td>
        <td [class.text-danger]="lastName.pristine">{{ lastName.pristine }}</td>
      </tr>
      <tr>
        <th scope="row">Age</th>
        <td [class.text-danger]="age.touched">{{ age.touched }}</td>
        <td [class.text-danger]="age.untouched">{{ age.untouched }}</td>
        <td [class.text-danger]="age.dirty">{{ age.dirty }}</td>
        <td [class.text-danger]="age.pristine">{{ age.pristine }}</td>
      </tr>
    </tbody>
  </table>
</form>
