<form [formGroup]="form" class="container mt-5">
  <div class="alert alert-primary text-center" role="alert">Do not forget to fill form</div>
  <div class="mb-3">
    <label for="firstname" class="form-label">First name *</label>
    <input
      formControlName="firstName"
      type="email"
      class="form-control"
      id="firstname"
      aria-describedby="emailHelp"
      autocomplete="off"
    />
  </div>

  <div class="mb-3">
    <label for="lastname" class="form-label">Last name *</label>
    <input
      formControlName="lastName"
      type="email"
      class="form-control"
      id="lastname"
      aria-describedby="emailHelp"
      autocomplete="off"
    />
  </div>

  <div class="mb-3 form-check">
    <input [formControl]="saveToNewslatter" type="checkbox" class="form-check-input" id="newsletter" />
    <label class="form-check-label" for="newsletter">Add me to newsletter</label>
  </div>

  <div *ngIf="saveToNewslatter.value === true" class="mb-3">
    <label for="email" class="form-label">Email address *</label>
    <input
      formControlName="email"
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      autocomplete="off"
    />
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <button (click)="send()" type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>

  <p class="mt-5">Form is: {{ form.status }}</p>
  <pre class="mt-5"><code>{{ form.value | json }}</code></pre>
</form>
